<mat-card>
    <h2 class="example-h2">Обращения</h2>
    <mat-card-content>
        <section class="example-section">
            <p>
                Не обработано
              </p>
            <mat-progress-bar value="50"></mat-progress-bar>
        </section>
        <section class="example-section">
            <p>
                В работе
              </p>
            <mat-progress-bar value="20"></mat-progress-bar>
        </section>
        <section class="example-section">
            <p>
                Исполненно
              </p>
            <mat-progress-bar value="80"></mat-progress-bar>
        </section>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Все обращения</button>
      <button mat-button color="primary">Подать обращение</button>
      </mat-card-actions>
</mat-card>