<mat-card>
    <h2 class="example-h2">Мои платежи</h2>
    <mat-card-content>
        <section class="example-section">
            <h1>3500</h1>
            <mat-progress-bar value="50"></mat-progress-bar>
        </section>
        <section class="example-section">
            <h3>Дней до оплаты 5</h3>
        </section>
    </mat-card-content>    
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button color="primary">SHARE</button>
    </mat-card-actions>
</mat-card>